@font-face
{
    font-family: 'Ravenna.ttf';
    src: url('../fonts/Ravenna.ttf') format('ttf');
   
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ravenna', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: rgb(0, 135, 224);
    background-color: #1b5e00;
    background-image: url('../img/zelda-totk-artwork-03.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 600px;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 200px;
}
